/* Import the font using @font-face */
/* Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}

/* Italic */

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 300;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 400;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 500;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 600;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 700;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 800;
  src:
    local('Plus Jakarta Sans'),
    local('Plus Jakarta Sans'),
    url('/assets/fonts/jakarta-sans/PlusJakartaSans-ExtraBoldItalic.ttf') format('truetype');
}

.container-loading-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: inherit;
}

/* Transitions */

/* Zoom Fade */
.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition:
    transform 0.35s,
    opacity 0.28s ease-in-out;
}
.zoom-fade-enter {
  transform: scale(0.97);
  opacity: 0;
}

.zoom-fade-leave-to {
  transform: scale(1.03);
  opacity: 0;
}

/* Fade Regular */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Page Slide/ */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition:
    opacity 0.35s,
    transform 0.4s;
}
.slide-fade-enter {
  opacity: 0;
  transform: translateX(-30%);
}

.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(30%);
}

/* Zoom Out */
.zoom-out-enter-active,
.zoom-out-leave-active {
  transition:
    opacity 0.35s ease-in-out,
    transform 0.45s ease-out;
}
.zoom-out-enter,
.zoom-out-leave-to {
  opacity: 0;
  transform: scale(0);
}

/* Fade Bottom/ */

/* Speed: 1x */
.fade-bottom-enter-active,
.fade-bottom-leave-active {
  transition:
    opacity 0.3s,
    transform 0.35s;
}
.fade-bottom-enter {
  opacity: 0;
  transform: translateY(-8%);
}

.fade-bottom-leave-to {
  opacity: 0;
  transform: translateY(8%);
}

/* Speed: 2x */
.fade-bottom-2x-enter-active,
.fade-bottom-2x-leave-active {
  transition:
    opacity 0.2s,
    transform 0.25s;
}
.fade-bottom-2x-enter {
  opacity: 0;
  transform: translateY(-4%);
}

.fade-bottom-2x-leave-to {
  opacity: 0;
  transform: translateY(4%);
}

/* Fade Top */

/* Speed: 1x */
.fade-top-enter-active,
.fade-top-leave-active {
  transition:
    opacity 0.3s,
    transform 0.35s;
}
.fade-top-enter {
  opacity: 0;
  transform: translateY(8%);
}

.fade-top-leave-to {
  opacity: 0;
  transform: translateY(-8%);
}

/* Speed: 2x */
.fade-top-2x-enter-active,
.fade-top-2x-leave-active {
  transition:
    opacity 0.2s,
    transform 0.25s;
}
.fade-top-2x-enter {
  opacity: 0;
  transform: translateY(4%);
}

.fade-top-2x-leave-to {
  opacity: 0;
  transform: translateY(-4%);
}

/* transition-group : list; */
.list-leave-active {
  position: absolute;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* transition-group : list-enter-up; */
.list-enter-up-leave-active {
  transition: none !important;
}

.list-enter-up-enter {
  opacity: 0;
  transform: translateY(30px);
}

.logo-shine {
  position: absolute;
  width: 150px;
  height: 50px;
  z-index: 10000000000001;
  background: linear-gradient(
      to bottom right,
      #0000 calc(50% - 20px),
      #fff 50%,
      #0000 calc(50% + 20px)
    )
    bottom right/calc(100% + 80px) calc(100% + 80px);
  animation: ct8 1s infinite;
}
@keyframes ct8 {
  100% {
    background-position: top left;
  }
}

.logo-only-shine {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10000000000001;
  background: linear-gradient(
      to bottom right,
      #0000 calc(50% - 20px),
      #fff 50%,
      #0000 calc(50% + 20px)
    )
    bottom right/calc(100% + 80px) calc(100% + 80px);
  animation: ct9 1s infinite;
}
@keyframes ct9 {
  100% {
    background-position: top left;
  }
}
